
/* первый абзац */
.ada{
  /*  font-family: "Times New Roman"; добавлять ненада   изначально так все */
    font-size: 20px;
    text-align: justify;
    line-height: 1.45;
    margin-left: 4cm;
    margin-right: 6cm;
    display: inline-block;

}
/* остальной текст */
.ass{

    font-size: 20px;
    text-align: justify;
    line-height: 1.45;
    margin-left: 4cm;
    margin-right: 6cm;
    margin-bottom: 6cm;

}
/* первый заголовок */
.hed{
    font-weight: 100;
    font-size: 25px;
    margin-left: 4cm;
    margin-top: 4cm;
}
/* второй  заголовок */
.hed11{

    margin-left: 4cm;
    font-weight: lighter;
    font-size: 20px;
}
/* заголовки убрал жирность  */
h1{
    font-weight: 100;
}